/* Global style */

body {
    background: url(../images/skyrim_snow.jpg) 20% 20% no-repeat;
    font-family: "Lato", sans-serif;
    color: #445361 ;
    text-align: center;
}

/* Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
}

/* Menu */

#menu {
    max-width: fit-content;
}

#dropdown {
    font-size: 120%;
    letter-spacing: 2px;
    padding: 4px;
    margin-top: 20px;
}

#links {
    display: none;
    background-color: whitesmoke;
    z-index: 1;
    max-width: fit-content;
}

#links a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 120%;
    text-align: center;
}

#menu:hover #links {
    display: block;
    font-weight: bolder;
}

#menu:hover #dropdown {
    background-color: whitesmoke;
    font-weight: bold;
}

/* Quiz layout */

#quiz {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Submit button */

#submit {
    margin: 20px;
    height: 30px;
}

#submit:hover {
    background-color: yellow;
}

/* Media queries */